.App {
  text-align: left;
}
h1{
  text-align: center;
  background-color: rgb(126, 27, 27);
  color: antiquewhite;
}
li{
  background-color: antiquewhite;
  color: rgb(126, 27, 27);
  list-style-type:none;
  margin: 10px 10px;
  padding: 0px 5px;
  font-size: 20px;
  border: dashed rgb(126, 27, 27);
}
li:hover {
  background-color: rgb(126, 27, 27); 
  color:antiquewhite;
  }